* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  transition: .6s ease-out;
}

.search-card {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-card input {
  color: #06283d;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}

.search-card input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #06283d;
  text-transform: capitalize;
}

.search-card button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #06283d;
  background: #22c1c3;
  border-radius: 50%;
  font-size: 18px;
  transition: .4s ease;
}

.search-card button:hover {
  color: #fff;
  background: #06283ddc;
}

.search-card i {
  position: absolute;
  color: #06283ddc;
  font-size: 22px;
}

.weather-box {
  text-align: center;
}

.weather-box img {
  width: 60%;
}

.weather-box .temperature {
  position: relative;
  color: #06283d;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}

.weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-box .description {
  color: #06283ddc;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
}